.ratings-c {
  display: grid;
  grid-row-gap: 15px;
  text-align: center;
  margin-bottom: 2.5rem;

  .stars {
    background: $light-grayish-magenta;
    border-radius: 0.5rem;
    padding: 1rem 2.5rem;

    .starx {
      margin-bottom: 0.7rem;

      .star {
        width: 1.2rem;
        height: 1.2rem;
        display: inline-block;
        background-image: url("../images/icon-star.svg");
        background-size: cover;

        &:not(:last-child) {
          margin-right: 0.8rem;
        }
      }
    }

    .ratings {
      font-size: 1rem;
      font-weight: $bold;
      color: $very-dark-magenta;
    }
  }
}

@media (min-width: 1500px) {
  .ratings-c {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: end;
    

    .stars {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        transform: translateX(-8rem);
      }
      &:nth-child(2) {
        transform: translateX(-4rem);
      }

      .starx {
        margin-bottom: 0;
        margin-right: 1.4rem;
      }
    }
  }
}
